@model BoVoyageFinal.Models.HomeVM

@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur BoVoyage</h1>
</div>

<div class="container-fluid mt-3 mb-3 p-2" style="background-color: #e3f2fd;">

    <form class="form-inline justify-content-center" asp-area="SiteWeb" asp-controller="Voyages" asp-action="Index">
        <h5 class="text-left">Rechercher un voyage</h5>
        <label class="mb-2 mr-sm-2" for="inlineFormInputDest">Destination</label>
        <input name="Destination" class="form-control mb-2 mr-sm-2" id="inlineFormInputDest" placeholder="Votre destination rêvée" value="@ViewBag.Destination">

        <label class="mb-2 mr-sm-2" for="inlineFormInputDateDep">Départ le</label>
        <input name="depart" type="date" class="form-control mb-2 mr-sm-2" id="inlineFormInputDateDep" value="@ViewBag.Depart">

        <label class="mb-2 mr-sm-2" for="inlineFormInputDateRet">Retour le</label>
        <input name="retour" type="date" class="form-control mb-2 mr-sm-2" id="inlineFormInputDateRet">

        <div class="input-group">
            <label class="mr-2" for="FormInputPrixMin">Budget</label>
            <span class="input-group-text">Entre</span>
            <input name="PrixMin" id="FormInputPrixMin" placeholder="PrixMin" class="form-control">
            <span class="input-group-text">et</span>
            <input name="PrixMax" placeholder="PrixMax" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary ml-2">Rechercher</button>
    </form>
</div>

<div class="container-fluid mt-3 mb-3 p-2" style="background-color: #e3f2fd;">
    <h3>Top 5 des voyages les moins chers</h3>
    <div class="row justify-content-between">
        @foreach (var item in Model.Top5Prix)
        {
            <div class="card col-lg-5-md-3-xs-2 mr-3 ml-3 mt-4 p-2 text-center" style="width: 18rem;">
                @if (@item.IdDestinationNavigation.Photo.Any())
                {
                    <img src="/pictures/@item.IdDestinationNavigation.Photo.First().NomFichier" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="/pictures/Default_Photo.jpg" class="card-img-top" alt="...">
                }
                
                <div class="card-body" style="position: relative;">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.IdDestinationNavigation.Nom)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descriptif)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => item.DateDepart): @Html.DisplayFor(modelItem => item.DateDepart)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => item.DateRetour): @Html.DisplayFor(modelItem => item.DateRetour)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => item.PrixHt): @Html.DisplayFor(modelItem => item.PrixHt) (-@Html.DisplayFor(modelItem => item.Reduction))</p>
                    <a class="btn btn-primary" asp-area="SiteWeb" asp-controller="Voyages" asp-action="Details" asp-route-id="@item.Id" style="position: absolute; bottom: 0; margin-left: -35px;">Details</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="container-fluid mt-3 mb-3 p-2" style="background-color: #e3f2fd;">
    <h3>Top 5 des voyages dont la date de départ est la plus proche</h3>
    <div class="row justify-content-between">
        @foreach (var item in Model.Top5DateDepart)
        {
            <div class="card col-lg-5-md-3-xs-2 mr-3 ml-3 mt-4 p-2 text-center" style="width: 18rem;">

                @if (@item.IdDestinationNavigation.Photo.Any())
                {
                    <img src="/pictures/@item.IdDestinationNavigation.Photo.First().NomFichier" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="/pictures/Default_Photo.jpg" class="card-img-top" alt="...">
                }
                <div class="card-body" style="position: relative;">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.IdDestinationNavigation.Nom)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descriptif)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => item.DateDepart): @Html.DisplayFor(modelItem => item.DateDepart)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => item.DateRetour): @Html.DisplayFor(modelItem => item.DateRetour)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => item.PrixHt): @Html.DisplayFor(modelItem => item.PrixHt) (-@Html.DisplayFor(modelItem => item.Reduction))</p>
                    <a class="btn btn-primary" asp-area="SiteWeb" asp-controller="Voyages" asp-action="Details" asp-route-id="@item.Id" style="position: absolute; bottom: 0; margin-left: -35px;">Details</a>
                </div>
            </div>
        }
    </div>
</div>

    <div class="container-fluid mt-3 mb-3 p-2" style="background-color: #e3f2fd;">
        <h3>Top 5 des voyages des destinations dont les pays sont les plus représentés</h3>
        <div class="row justify-content-between">
            @foreach (var item in Model.Top5Destination)
            {
            <div class="card col-lg-5-md-3-xs-2 mr-3 ml-3 mt-4 p-2 text-center" style="width: 18rem;">
                @if (@item.Photo.Any())
                {
                    <img src="/pictures/@item.Photo.First().NomFichier" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="/pictures/Default_Photo.jpg" class="card-img-top" alt="...">
                }
                
                <div class="card-body" style="position: relative;">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a class="btn btn-primary" asp-area="SiteWeb" asp-controller="Voyages" asp-route-Destination="@item.Nom" style="position: absolute; bottom: 0; margin-left: -35px;">@item.Nom</a>
                </div>
            </div>
                }
            </div>
        </div>
