@model BoVoyageFinal.Models.Voyage

@{
    ViewData["Title"] = "Delete";
}

    <div class="text-center">
        <h1>Supprimer Voyage</h1>
    </div>
        <h3>Etes-vous sûr de vouloir supprimer ce voyage?</h3>
        <div class="container-fluid p-4" style="background-color: #e3f2fd;">
            <h4>Voyage</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateDepart)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateDepart)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateRetour)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateRetour)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PlacesDispo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PlacesDispo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PrixHt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PrixHt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reduction)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reduction)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descriptif)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descriptif)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdDestinationNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdDestinationNavigation.Nom)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                <a asp-action="Index">Retour à la liste</a>
            </form>
        </div>
