@model IEnumerable<BoVoyageFinal.Models.Voyage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRetour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacesDispo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixHt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDestinationNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacesDispo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixHt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDestinationNavigation.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
