@model BoVoyageFinal.Models.Personne

@{
    ViewData["Title"] = "Details";
}

    <div class="text-center">
        <h1>Details Personne</h1>
    </div>
        <div class="container-fluid p-4" style="background-color: #e3f2fd;">
            <h4>Personne</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TypePers)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TypePers)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Civilite)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Civilite)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nom)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nom)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Prenom)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Prenom)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Telephone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Telephone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Datenaissance)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Datenaissance)
                </dd>
                <dd class="col-sm-10">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Editer</a> |
                    <a asp-action="Index">Retour à la liste</a>
                </dd>
            </dl>
        </div>
        