@model BoVoyageFinal.Models.ResaViewModel

@{
    ViewData["Title"] = "BookIndex";
}

<h1>Récapitulatif formule n°@Html.DisplayFor(model => model.Voyage.Id)</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>@Html.DisplayFor(model => model.Voyage.IdDestinationNavigation.Nom)</h5>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.DateDepart)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.DateDepart)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.DateRetour)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.DateRetour)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.PlacesDispo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.PlacesDispo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.PrixHt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.PrixHt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.Reduction)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.Reduction)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.Descriptif)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.Descriptif)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.IdDestinationNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.IdDestinationNavigation.Nom)
                </dd>
            </dl>
        </div>
    </div>
</div>