@model BoVoyageFinal.Models.ResaViewModel

@{
    ViewData["Title"] = "BookIndex";
    Layout = "_BookLayout";
}

@section header
{
    <h4>Récapitulatif formule n°@Html.DisplayFor(model => model.Voyage.Id)</h4>
}

<div class="container">
    <div class="row">
        <div class="col">
            <dl class="row">                
                <dt class="col-sm-2">
                    Destination :
                </dt>                
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.IdDestinationNavigation.Nom)
                </dd>                
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.DateDepart)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.DateDepart)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.DateRetour)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.DateRetour)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.PlacesDispo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.PlacesDispo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.PrixHt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.PrixHt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.Reduction)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.Reduction)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.Descriptif)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.Descriptif)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voyage.IdDestinationNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voyage.IdDestinationNavigation.Nom)
                </dd>
            </dl>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h4>Participants</h4>
            <hr>
            <!-- générer liste en parcourant les voyageurs du Model, contenant un Voyageur null  par défaut-->
            <ul>
                <li>
                </li>
            </ul>
            <button data-toggle="modal" data-target="ajouterVoyageurModal" class="btn-primary ml-5">Ajouter un participant</button>
        </div>
        <!-- Afficher prix total et bouton payer-->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ajouterVoyageurModal" tabindex="-1" role="dialog" aria-labelledby="ajouterVoyageurModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ajouterVoyageurModalLabel">Ajouter un participant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_AjouterVoyageur" model="@Model.Participants.First()" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" form="ajouterVoyageur" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>