@model BoVoyageFinal.Models.Voyage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRetour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRetour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacesDispo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacesDispo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixHt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixHt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDestinationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDestinationNavigation.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Reserver" asp-route-id="@Model.Id">Réserver</a> |
    <a asp-action="Index">Back to List</a>
</div>
