@model IEnumerable<BoVoyageFinal.Models.Destination>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-4" style="background-color: #e3f2fd;">
    <div class="text-center">
        <h1>Liste des Destinations</h1>
    </div>
    <p>
        <a asp-action="Create">Créer une nouvelle destination</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Niveau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdParenteNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Niveau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdParenteNavigation.Nom)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editer</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>